<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.undergroundcreative.quicksdk" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>QuickSDK</name>
    <description>Cordova QuickSDK Plugin</description>
    <license>MIT</license>
    <keywords>cordova,quicksdk</keywords>
    <js-module name="QuickSDK" src="www/QuickSDK.js">
        <clobbers target="QuickSDK" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="QuickSDK">
                <param name="android-package" value="com.undergroundcreative.QuickSDK"/>
            </feature>
        </config-file>
        <source-file src="src/android/QuickSDK.java" target-dir="src/com/undergroundcreative/QuickSDK" />
    </platform>
</plugin>
