<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-undergroundcreative-quicksdk" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>QuickSDKPlugin</name>
    <description>Cordova QuickSDK Plugin</description>
    <license>MIT</license>
    <keywords>cordova,quicksdk</keywords>
    <js-module name="QuickSDKPlugin" src="www/QuickSDKPlugin.js">
        <clobbers target="QuickSDKPlugin" />
    </js-module>
    <platform name="android">
        <preference name="PRODUCT_CODE" />
        <preference name="PRODUCT_KEY" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="QuickSDKPlugin">
                <param name="android-package" value="com.undergroundcreative.QuickSDK.QuickSDKPlugin"/>
            </feature>
            <preference name="android-minSdkVersion" value="26" />
            <preference name="android-targetSdkVersion" value="26" />
        </config-file>
        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="productCode">$PRODUCT_CODE</string>
            <string name="productKey">$PRODUCT_KEY</string>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
            <uses-permission android:name="android.permission.INTERNET"></uses-permission>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"></uses-permission>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="com.undergroundcreative.QuickSDK.productCode" android:value="@string/productCode"/>
            <meta-data android:name="com.undergroundcreative.QuickSDK.productKey" android:value="@string/productKey" />
        </config-file>
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:name="com.undergroundcreative.QuickSDK.MyApplication" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity" mode="merge">
            <activity android:name="com.undergroundcreative.QuickSDK.QuickSDKPluginMainActivity" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
            <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="26" />
        </edit-config>
        <lib-file src="src/android/files/libs/quicksdk_v2.7.1_20200309.jar" />
        <lib-file src="src/android/files/libs/android-support-v4.jar" />
        <source-file src="src/android/QuickSDKPlugin.java" target-dir="src/com/undergroundcreative/QuickSDK" />
        <source-file src="src/android/MyApplication.java" target-dir="src/com/undergroundcreative/QuickSDK" />
        <source-file src="src/android/QuickSDKPluginMainActivity.java" target-dir="src/com/undergroundcreative/QuickSDK" />
        <source-file src="src/android/files/libs/armeabi-v7a" target-dir="libs" />
        <source-file src="src/android/files/libs/armeabi" target-dir="libs" />
        <source-file src="src/android/files/libs/x86" target-dir="libs" />

        <source-file src="src/android/files/res/drawable" target-dir="res" />
        <source-file src="src/android/files/res/drawable-hdpi" target-dir="res" />
        <source-file src="src/android/files/res/values/qk_game_style.xml" target-dir="res/values" />
        <source-file src="src/android/files/res/layout/qk_game_view_loading.xml" target-dir="res/layout" />
    </platform>
    <hook type="after_prepare" src="hooks/android_app_name.js" />
</plugin>
